<div class="wrapper">
    <div class="page-header page-header-xs ball-bg" data-parallax="true">
      <div class="filter"></div>
    </div>
    <div class="container-section p-r-21">
      <div class="section">
        <div class="section-title text-center border-bottom">
          Frequenctly Asked Questions
        </div>
        <div class="question">
          What do I need to play CryptoIPL ?
        </div>
        <div class="answer">
          <ul>
            <li>A computer or laptop running the desktop version of Chrome or Firefox</li>
            <li>MetaMask, a digital wallet used specifically with web apps</li>
            <li>Ether, a form of digital payment that powers CryptoIPL</li>
          </ul>
        </div>
        <hr />

        <div class="question">
          What is Metamask ?
        </div>
        <div class="answer">
          Metamask is a digital wallet ( similar to bank account in crypto world ). It comes as broswer extension. 
          Please install and register with it. And don't forget login credentials and seed words. For more information,
          watch our landing page metamask video.
        </div>
        <hr />

        <div class="question">
          What is Ether ?
        </div>
        <div class="answer">
          Ehter is digital currency, a fuel kind to Etherium technology. 
          To make any transactions or develop decentralized applications, ehter is required.
          As blockchain design suggest hacking is almost imposible. So, your ethers are always safe.
          Ether powers the Ethereum network, which is what CryptoIPL is built on. Ether acts like any other currency; the value fluctuates with the market.
          You need to convert your currency (e.g. USD, INR, etc.) into ether to pay for things on our network.
        </div>
        <hr />

        <div class="question">
          How do I buy Ehters ?
        </div>
        <div class="answer">
          <ul>
            <li>US citizens could use Metamask to buy ethers.</li>
            <li>Others need to use various exchange applications available. Transer your ehters to metamask account address</li>
          </ul>
        </div>
        <hr />

        <div class="question">
          What is CryptoIpl ?
        </div>
        <div class="answer">
          CryptoIPL is a game centered around trading, owning digital IPL teams. Each team is one-of-a-kind and 100% owned by you; it cannot be replicated, taken away, or destroyed.
          If someone has to own your team, he / she needs to pay you in Ehters as per our 
          <a href="javascript:void(0)">transational algorithm</a>. ( (>= 1.5) to (<=2) rates of your current value ).
        </div>
        <hr />

        <div class="question">
          How do I make money playing CyproIPL ?
        </div>
        <div class="answer">
          When you buy a team, you would pay team current value and when someone has to own it, he / she needs to pay you in Ehters as per our 
          <a href="javascript:void(0)">transational algorithm</a>. ( (>= 1.5) to (<=2) rates of your current value ).
        </div>
        <hr />

        <div class="question">
          What's big deal about CryptoIPL ?
        </div>
        <div class="answer">
          CryptoIPL is one of the India's first games to be built on blockchain technology — the same breakthrough that makes things like Bitcoin and Ethereum possible. Bitcoin and ether are cryptocurrencies, 
          but CryptoIPL are cryptocollectibles. You can buy, sell, or trade your CryptoIPL team like a traditional collectible, secure in the knowledge that blockchain will track ownership securely.
        </div>
        <hr />

        <div class="question">
          Where do I buy a team ?
        </div>
        <div class="answer">
          Go to our market place section. We have come up with your favourite team and listed their costs. Some teams are upcoming.
          Your could buy your favourite / any team by paying rate listed in Ether.
        </div>
        <hr />

        <div class="question">
          Why is it complicated to play CryptoIPL ?
        </div>
        <div class="answer">
          CryptoIPL is built on blockchain technology, which is relatively new stuff. It’s safe and secure, but it’s going to be a little complicated until the rest of the world cat-ches up
        </div>
        <hr />

        <span>For more information, please reach us <a href="javascript:void(0)"><i>@cryptoipl-team</i></a></span>

      </div>
    </div>
  </div>