<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Basic Information</h2>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom: 20px;">
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Loren Ipsum</h3>
                    <br/>
                </div>
                <div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
            <div class="col-md-6">
                <img class="half-window-image" src="../assets/img/virat_rcb.jpg" alt="Play bold">
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom: 20px;">
            <div class="col-md-6">
                <img class="half-window-image" src="../assets/img/virat_rcb.jpg" alt="Play bold">
            </div>
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Loren Ipsum</h3>
                    <br/>
                </div>
                <div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;margin-bottom: 20px;">
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Loren Ipsum</h3>
                    <br/>
                </div>
                <div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
            <div class="col-md-6">
                <img class="half-window-image" src="../assets/img/virat_rcb.jpg" alt="Play bold">
            </div>
        </div>
        
    </div>
</div>
