<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/signup-bg.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <p [hidden]="!saveSuccess">
                                <ngb-alert [type]="'success'" [dismissible]="false">
                                    <div class="container">
                                        <button type="button" name="button" class="close" (click)="close()">
                                            <i class="nc-icon nc-simple-remove"></i>
                                        </button>
                                        Data has been saved succesfully
                                    </div>
                                </ngb-alert>
                            </p>
                            <p [hidden]="!saveFailure">
                                <ngb-alert [type]="'danger'" [dismissible]="false">
                                    <div class="container">
                                        <button type="button" name="button" class="close" (click)="close()">
                                            <i class="nc-icon nc-simple-remove"></i>
                                        </button>
                                        Could not save your data now. Please try again after some time
                                    </div>
                                </ngb-alert>
                            </p>
                            <h3 class="title">Welcome</h3>
                            <form class="register-form">
                                <label>Wallet Address</label>
                                <label class="wallet-address">{{user.wallet}}</label>

                                <label>Email</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email">
                                
                                <button class="btn btn-danger btn-block btn-round" (click)="saveInfo()">Save account info</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <label>*Make sure to save your MetaMask login information and account recovery details!
                         We can’t help you regain access if you lose it</label>
                    <label>*Registering email id helps us send you notifications about all the transactions of your teams</label>
                </div>
            </div>
    </div>
</div>
