<div class="wrapper">
  <div class="page-header page-header-xs ball-bg" data-parallax="true">
    <div class="filter"></div>
  </div>
  <div class="container-section text-center p-r-21">
    <!-- <div class="row">
      <button type="button" class="btn btn-outline-success btn-round" (click)="payout()">Success</button>
    </div> -->
    <div class="row">
      <div class="col-lg-12">
        <p [hidden]="purchaseSuccess">
          <ngb-alert [type]="'success'" [dismissible]="false">
            <div class="container">
              <ng-container>
                <i class="nc-icon nc-single-02"></i>
              </ng-container>
              Congratulation you are new Owner of {{newOwner}} and new price is {{newPrice}}, track it
              <a href="{{etherScan}}">here</a>.
              <button type="button" name="button" class="close" (click)="closeSuccessAlert()">
                <i class="nc-icon nc-simple-remove"></i>
              </button>
            </div>
          </ngb-alert>
        </p>
        <p [hidden]="purchaseFailure">
          <ngb-alert [type]="'danger'" [dismissible]="false">
            <div class="container">
              <ng-container>
                <i class="nc-icon nc-bell-55"></i>
              </ng-container>
              Your transaction is failed, check your transaction detail in metamask or if you already own the team.
              <button type="button" name="button" class="close" (click)="closeFailureAlert()">
                <i class="nc-icon nc-simple-remove"></i>
              </button>
            </div>
          </ngb-alert>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" *ngFor="let participant of participantArray;let i = index" [hidden]=true>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/player/{{participant.name}}.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{participant.name}}.</p>
            <h5>
              <b> {{participant.price | number: '1.4-4'}} ethers</b>
            </h5>
            <a class="btn btn-primary" placement="top" ngbPopover="" popoverTitle="{{participant.owner}}">Owner</a>
            <a class="btn btn-primary" (click)="buyParticipant(i, participant.price)">Buy</a>
          </div>
          <!-- <div class="card-body">
            <h5 class="card-title">Crypto Bangaluru challengers</h5>
            <p class="card-text">The Crypto participant.</p>
            <a class="btn btn-primary" (click)="showPrice(0)">Price</a>
            <a class="btn btn-primary" (click)="buyParticipant(0)">Buy</a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3" *ngFor="let participant of comingsoonColl;let index = index">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top coming-soon-bg-opacity" src="assets/img/player/ABC.jpg" alt="Card image cap">
          <div class="card-body coming-soon-bg-opacity">
            <p class="card-text">RCB.</p>
            <h5>
              <b> {{participant.price | number: '1.4-4'}} ethers</b>
            </h5>
            <a class="btn btn-primary" placement="top" ngbPopover="" popoverTitle="{{participant.owner}}">Owner</a>
            <a class="btn btn-primary">Buy</a>
          </div>
          <div class="coming-soon-container">
            Coming Soon
          </div>
          <div class="timer-container" id="{{index}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>