<footer class="footer dark-bg">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com" class="white-text">Crypto Ipl</a></li>
                    <li><a href="http://blog.creative-tim.com" class="white-text">White Papperr</a></li>
                    <li><a href="https://www.creative-tim.com/license" class="white-text">Documentation</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright white-text">
                    © {{test | date: 'yyyy'}}, made for love with <i class="fa fa-soccer-ball-o heart"></i> by Crypto IPL
                </span>
            </div>
        </div>
    </div>
</footer>
