<footer class="footer dark-bg">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="https://github.com/paldheeraj25/cryptoIplSmartContract" class="white-text">Crypto Ipl</a>
          </li>
          <li>
            <a href="https://github.com/paldheeraj25/cryptoIplSmartContract" class="white-text">Documentation</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright white-text">
          © {{test | date: 'yyyy'}}, Developed
          <i class="fa fa-soccer-ball-o heart"></i> by Crypto IPL Team
        </span>
      </div>
    </div>
  </div>
</footer>